.side-bar
  = render 'header'
  .groups
<<<<<<< HEAD
    = render 'groups'

=======
    .groups
      - current_user.groups.each do |group|
        .group
          = link_to group_messages_path(group) do
            .group__name
              = group.name
            .group__message
              メッセージはまだありません。
>>>>>>> parent of b52d11c... 5/22 20:53 非同期通信前
