.wrapper

  = render 'side_bar'

  .chat
    .header
      .left-header
        .left-header__title
          グループ名
        %ul.left-header__members
          Member：
          %li.member
            メンバー名
          %li.member
            メンバー名
          %li.member
            メンバー名
      .right-header
        .right-header__button
          Edit
    .messages
      = render 'message'
    .form
      %form
        %input.form__message
        .form__mask
          %label.form__mask__image
            = fa_icon 'picture-o', class: 'icon'
            %input.hidden{type: 'file'}
<<<<<<< HEAD
        %input.form__submit{type: 'submit', value: 'Send'}
=======
        %input.form__submit{type: 'submit', value: 'Send'}

>>>>>>> parent of b52d11c... 5/22 20:53 非同期通信前
